#map {
    height: 500px;
    width: 100%;
}
.card {
    width: 14rem;
}

li {
    font-size: 12px;
}

#current-city {
    color: white
}

.weather-info {
    font-weight: bold;
}

.dark-mode {
    background-color: black;
}

.dark-cards {
    border: 1px solid #848487;
    background-color: #121212;
    color: white

}
.dark-title {
    background-color: #3700b3;
}

.dark-label {
    color: white
}